In [6]:
x= 3
if x>3:
    print(x)
    print('크다')
elif x==3:
    print('같다')
else: 
    print(x)
    print('작다')

같다

In [8]:
if False:
    print(x)

In [9]:
if '영희':
    print(x)

3

In [10]:
if None: #값이 없으면 False
    print(x)

In [11]:
if 0: #값이 0이면 Falase
    print(x)

In [1]:
for i in [5,6,7]:
    print(i)

5
6
7

In [2]:
i

7

In [3]:
k = (3,4,5)
for i in k:
    print('!')

!
!
!

In [6]:
for i in d.values():
    print(i)

100
90
100

In [7]:
for i in d.items():
    print(i)

('영희', 100)
('철수', 90)
('길동', 100)

In [11]:
x=[]
y=[]
for name,score in d.items():
    x.append(name)
    y.append(score)
print(x,y)

['영희', '철수', '길동'] [100, 90, 100]

In [14]:
for i in range(2,10):
    for j in range(1,10):
        print(i,'X',j, '=', i*j)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [18]:
x = 0
while x<3:
    print('!') # 정지할때 i 2번
    x += 1

!
!
!

문자열 역순 출력

In [19]:
s = 'I love Python!'
s[::-1]

'!nohtyP evol I'

In [28]:
char = ' '
for i in s:
    char = i+char
print(char)

!nohtyP evol I

-  이진수로 변환

In [33]:
d=10
result = ''
while d>0:
    r = d%2
    d = d//2
    str(r) = str(r) + result
int(result)

ValueError: invalid literal for int() with base 10: ''

In [36]:
d=10
result = ''
while d>0:
    r = d%2
    d = d//2
    result = str(r) + result
print(int(result))

1010

In [35]:
d = int(input('10진수 숫자를 입력하세요 : '))
s = int(input('몇진수 숫자로 변환할까요? : '))
result = ''
while d>0:
    r = d%s
    d = d//s
    result = str(r) + result
print(int(result))

1010

In [39]:
for i in range(10):
    if i>10:
        break
    print(i)
else:
    print('끝~!!')

0
1
2
3
4
5
6
7
8
9
끝~!!

In [43]:
for i in range(10):
    if (i%2)==0:
        continue
    print(i)

1
3
5
7
9

In [41]:
i

9

In [52]:
while True :
    a = int(input('1~9사이의 숫자를 입력하세요 (0을 입력하면 종료: )'))
    if a == 0:
        print('끝났습니다')
        break
    elif (a>=1 and a<=9):
        for i in range(1,10):
            print(a,'X',i,'=',a*i)
    elif not (a<1 and a>9):
            print('다시 입력하세요 !')
    else:
        print('다시 입력하세요')

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
다시 입력하세요 !

ValueError: invalid literal for int() with base 10: ''

리스트 컴프리헨션

In [56]:
#삼항 연산자
result =  [ i if  i%2==0 else 10 for i in range(10)]
result

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

In [66]:
x = list(range(1,10+1))

In [64]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
result = []
for i in x:
    result.append(i*2)
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [68]:
[i*2 for i in x]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [70]:
tuple([i *2 for i in x])

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [72]:
{i*2 for i in x}

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [73]:
{i:i*2 for i in x}

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [74]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
result = []
for i in x:
    if i%2==0:
        result.append(i)
result

[2, 4, 6, 8, 10]

In [78]:
[i  for i in x if i %2==0 ]

[2, 4, 6, 8, 10]

In [79]:
[i*2 if i%2==0 else i for i in x]

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

enumerate()와 zip()

In [102]:
x = ['tic','tac','toe']

In [82]:
for i in x:
    print(i)

tic
tac
toe

In [85]:
for i in enumerate(x):
    print(list(i))

[0, 'tic']
[1, 'tac']
[2, 'toe']

In [86]:
dict(enumerate(x))

{0: 'tic', 1: 'tac', 2: 'toe'}

In [87]:
d = dict(enumerate(x))
d

{0: 'tic', 1: 'tac', 2: 'toe'}

In [90]:
k = {v:i for i,v in d.items()}
k

{'tic': 0, 'tac': 1, 'toe': 2}

In [96]:
x = dict(enumerate(x))
x

{0: 'tic', 1: 'tac', 2: 'toe'}

In [97]:
for i in enumerate(x.items()):
    print(i)

(0, (0, 'tic'))
(1, (1, 'tac'))
(2, (2, 'toe'))

In [100]:
for i,(k,v) in enumerate(x.items()):
    print(i,k,v)

0 0 tic
1 1 tac
2 2 toe

In [104]:
[v for i,v in enumerate(x) if i %2==0]

['tic', 'toe']

Zip

In [105]:
xs = [10, 20, 30]
ys = [1,2,3]

In [106]:
for x in xs,ys:
    print(x)

[10, 20, 30]
[1, 2, 3]

In [107]:
xs,ys

([10, 20, 30], [1, 2, 3])

In [116]:
for x,y in zip(xs,ys):
    print(x+y)

11
22
33

In [119]:
zs = [ 100, 200, 300, 400]

In [120]:
for x,y,z in zip(xs,ys,zs) : 
    print(x+y+z)

111
222
333

In [121]:
[x+y+z for x,y,z in zip(xs,ys,zs) ]

[111, 222, 333]

- 과목별 평균 구하기

In [123]:
s = ['영어','수학','과학']
철수 = [100, 80, 90 ,60]
영희 = [90, 100, 80]
길동 = [70, 60, 100]
국민 = [80,70,90]

In [125]:
{i:(x+y+z+q)/4 for i,x,y,z,q in zip(s, 철수,영희, 길동, 국민)}

{'영어': 85.0, '수학': 77.5, '과학': 90.0}

In [128]:
for i in zip(s,철수,영희,길동,국민):
    print(i[0],'과목 평균',end=': ')
    print(sum(i[1:])/len(i[1:]))

영어 과목 평균: 85.0
수학 과목 평균: 77.5
과학 과목 평균: 90.0