In [1]:
import pandas as pd
import numpy as np

In [6]:
city = ['서울','부산','인천','대구','대전','광주','울산','수원']

In [7]:
type(city)

list

- 인덱싱

In [8]:
city[2]

'인천'

In [9]:
type(city[2])

str

In [10]:
city[-2]

'울산'

In [15]:
[city[2],city[4],city[5]]

['인천', '대전', '광주']

In [16]:
city

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

- 슬라이싱

In [18]:
city[1:3+1]

['부산', '인천', '대구']

In [19]:
city[5:]

['광주', '울산', '수원']

In [20]:
city[-4:]

['대전', '광주', '울산', '수원']

In [23]:
city[2:6:2]

['인천', '대전']

In [24]:
city[::-1]

['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [28]:
city[-1:-4:-1]

['수원', '울산', '광주']

In [30]:
city[-3:][::-1]

['수원', '울산', '광주']

0번째, 마지막은 포함하지 않는다 !!!

- 리스트의 값 바꾸기

In [31]:
city

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [32]:
city[0]='강남구'
city

['강남구', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [ ]:
city[0] = ['성북구','서초구']

In [38]:
city[:2]=['서울특별시','부산광역시']
city

['서울특별시', '부산광역시', '인천', '대구', '대전', '광주', '울산', '수원']

In [41]:
city[:3] = ['서울','부산']
city

In [42]:
city[:2] = ['서울','인천','부산']
city

['서울', '인천', '부산', '대전', '광주', '울산', '수원']

In [45]:
city[:2]=[0]
city

[0, '대전', '광주', '울산', '수원']

In [46]:
city[:1]=['서울','부산']

In [47]:
city

['서울', '부산', '대전', '광주', '울산', '수원']

- 리스트 연산

In [76]:
xs = [1,3,5,7,9]
ys = [100,200,300]

In [49]:
xs + ys

[1, 3, 5, 7, 9, 100, 200, 300]

In [50]:
xs * 2

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [51]:
2 in xs

False

In [52]:
2 not in xs

True

-언패킹

In [53]:
a,b = [1,2]

In [56]:
a,b,c = [1,2]

ValueError: not enough values to unpack (expected 3, got 2)

In [57]:
a,b = [1,2,3]

ValueError: too many values to unpack (expected 2)

In [58]:
_

(1, 2)

In [59]:
a,b,_ = [1,2,3]

In [60]:
_

3

- 주요 메서드

In [64]:
xs

[1, 3, 5, 7, 9]

In [65]:
xs.append(11)

In [66]:
xs

[1, 3, 5, 7, 9, 11]

In [67]:
xs.append([1,2,3])
xs

[1, 3, 5, 7, 9, 11, [1, 2, 3]]

In [68]:
xs.extend([13,15,17])

In [69]:
xs

[1, 3, 5, 7, 9, 11, [1, 2, 3], 13, 15, 17]

In [70]:
z = xs + ys
z

[1, 3, 5, 7, 9, 11, [1, 2, 3], 13, 15, 17, 100, 200, 300]

In [71]:
xs.insert(1,2)
xs

[1, 2, 3, 5, 7, 9, 11, [1, 2, 3], 13, 15, 17]

In [72]:
xs.remove(1)

In [73]:
del xs

In [74]:
XS

NameError: name 'XS' is not defined

In [75]:
del ys, z

In [77]:
del xs[2]

In [78]:
xs

[1, 3, 7, 9]

In [79]:
del ys[1:]

In [80]:
ys

[100]

In [81]:
x = [1,2,3,4,5,6,7,8,9,10]

In [82]:
del x[-1]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
x.pop()

9

In [84]:
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [85]:
z = x.pop()

In [86]:
z

8

In [87]:
x

[1, 2, 3, 4, 5, 6, 7]

In [88]:
y =x.pop(0)

In [89]:
y

1

In [90]:
a = [3,8,1,5,4, True, False]
b = ['찬석','진성','선아']
c = ['영희',3,'철수',1]

In [91]:
sorted(a)

[False, 1, True, 3, 4, 5, 8]

In [92]:
a

[3, 8, 1, 5, 4, True, False]

In [93]:
a.sort()

In [94]:
a

[False, 1, True, 3, 4, 5, 8]

In [95]:
a.sort(reverse=True)
a

[8, 5, 4, 3, 1, True, False]

In [96]:
sorted(b)

['선아', '진성', '찬석']

In [97]:
c

['영희', 3, '철수', 1]

In [98]:
sorted(c)

TypeError: '<' not supported between instances of 'int' and 'str'

In [99]:
s = '진성'

In [100]:
type(s)

str

In [101]:
s[0]

'진'

In [103]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [104]:
'hello' + 'world'

'helloworld'

In [105]:
'fighting!'*10

'fighting!fighting!fighting!fighting!fighting!fighting!fighting!fighting!fighting!fighting!'

- 기타 자료구조

1. 튜플

In [106]:
x= (1,2,3)
type(x)

tuple

In [107]:
x[0]

1

In [109]:
x[1:]

(2, 3)

In [110]:
x+(2,3)

(1, 2, 3, 2, 3)

In [111]:
del x[0]

TypeError: 'tuple' object doesn't support item deletion

2. Dictionary

In [114]:
d = {'영희' : 100, '철수': 70, '길동' : 80,'철수':80}

In [116]:
d['철수']

80

In [122]:
d.get('국민',0)

0

In [123]:
d

{'영희': 100, '철수': 80, '길동': 80}

In [124]:
s = '국민'
z = d.get(s,0)
z

0

In [128]:
d['철수'] = '제적'
d

{'영희': 100, '철수': '제적', '길동': 80}

In [129]:
d['국민'] = 100
d

- 집합

In [131]:
s  = {1,2,3,1,3}
s

{1, 2, 3}

In [132]:
type(s)

set

- 자료구조변환

In [133]:
x = [1,2,3,7,3,5]
type(x)

list

In [134]:
set(x)

{1, 2, 3, 5, 7}

In [136]:
list(set(x))

[1, 2, 3, 5, 7]

In [137]:
tuple(d)

('영희', '철수', '길동', '국민')

In [139]:
list(d.values())

[100, '제적', 80, 100]

In [149]:
xs = list(d.items())
xs

[('영희', 100), ('철수', '제적'), ('길동', 80), ('국민', 100)]

In [151]:
dict(xs)

{'영희': 100, '철수': '제적', '길동': 80, '국민': 100}